html, body {
  margin: 0;
  padding: 0;
    background-color: #f7f5f3;
}
canvas {
  display: block;
}

.container{
    display:flex;
    width:60vw;

}


.textover{
    position: relative;
    text-align: left;
    color: black;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

